<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, data science tools will be displayed.

**Objectives:**
-  Popular Data science Languages
-  Common data science libraries
-  table  creation
-  arithmetic expression

Some of the popular languages data scientist use are:
1.  R
2.  SQL
3.  Python

3 common data science libraries
-  Pandas
-  Matplotlib
-  NumPy


|Data Science Tools|
|----|
|Rstudios|
|Apache Spark| 
|TensonrFlow|

### A few examples of arithmetic expressions:

Simple expression to multiply then add integers

In [1]:
(3*4)+5

17

This expression will convert 200 minutes to hours by dividing by 60

In [4]:
(200/60)

3.3333333333333335

## Author
Isaiah Lewis